div {
    width: 300px;
    /* border: 2px solid green; */
    /* padding: 50px; */
    margin: 30px;
}

div {
    border-style: groove dashed dotted double;
    /* border-top-style: groove;
    border-right-style: dashed;
    border-bottom-style: dotted;
    border-left-style: double; */
    border-width: 5px 10px 15px 20px;
    border-color: aqua green black brown;
}

div {
    padding: 10px 20px 30px 40px;
}